# --- Dependencies ---
node_modules/
.pnp
.pnp.js

# --- Hardhat Core ---
# Cache de compilation (ne pas envoyer)
cache/
# Résultats de la compilation (fichiers JSON du contrat)
artifacts/

# --- Typechain (TypeScript) ---
# Génération des types pour Ethers.js
typechain-types/
types/

# --- Testing & Coverage ---
coverage/
coverage.json

# --- Hardhat Ignition (Déploiements) ---
# On ignore les déploiements locaux temporaires pour éviter les conflits
ignition/deployments/chain-31337/

# --- Security (TRÈS IMPORTANT) ---
# Ne JAMAIS envoyer vos clés privées sur Git
.env

# --- TypeScript & Builds ---
dist/
tsconfig.tsbuildinfo

# --- Logs & System ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db